<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="checkbox-inline">
      <label class="unselectable">
        <input type="checkbox" [(ngModel)]="showComplete" (change)="updateShowComplete()"> Show completed tasks
      </label>
    </div>
  </div>
  <!-- paging controls -->
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-1 text-right">
      <span id="leftControls" *ngIf="showLeftPageControls()">
        <a class="btn btn-default"
           (click)="getFirstPage()"
           href="javascript:void(0);"
           title="First Page"><i class="fa fa-angle-double-left" aria-label="First Page"></i></a>
        <a class="btn btn-default"
           (click)="getPreviousPage()"
           href="javascript:void(0);"
           title="Previous Page"><i class="fa fa-angle-left" aria-label="Previous Page"></i></a>
      </span>
    Page {{pageNumber}} of {{maxPages}}
    <span id="rightControls" *ngIf="showRightPageControls()">
        <a class="btn btn-default"
           (click)="getNextPage()"
           href="javascript:void(0);"
           title="Next Page"><i class="fa fa-angle-right" aria-label="Next Page"></i></a>
        <a class="btn btn-default"
           (click)="getLastPage()"
           href="javascript:void(0);"
           title="Last Page"><i class="fa fa-angle-double-right" aria-label="Last Page"></i></a>
      </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-todo-list [isLoading]="isLoading" [todos]="todoSlice" [showComplete]="showComplete"></app-todo-list>
  </div>
</div>
