<div class="row">
  <!-- paging controls -->
  <div class="col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-7 text-right">
    <span id="leftControls">
      <button type="button"
              class="btn btn-default"
              (click)="getFirstPage()"
              href="javascript:void(0);"
              [disabled]="!showLeftPageControls()"
              [ngClass]="{disabled:!showLeftPageControls()}"
              title="First Page"><i class="fa fa-angle-double-left" aria-label="First Page"></i></button>
      <button type="button"
              class="btn btn-default"
              (click)="getPreviousPage()"
              href="javascript:void(0);"
              [disabled]="!showLeftPageControls()"
              [ngClass]="{disabled:!showLeftPageControls()}"
              title="Previous Page"><i class="fa fa-angle-left" aria-label="Previous Page"></i></button>
    </span>
    Page {{pageNumber}} of {{maxPages}}
    <span id="rightControls">
      <button type="button"
              class="btn btn-default"
              (click)="getNextPage()"
              href="javascript:void(0);"
              [disabled]="!showRightPageControls()"
              [ngClass]="{disabled:!showRightPageControls()}"
              title="Next Page"><i class="fa fa-angle-right" aria-label="Next Page"></i></button>
      <button type="button"
              class="btn btn-default"
              (click)="getLastPage()"
              href="javascript:void(0);"
              [disabled]="!showRightPageControls()"
              [ngClass]="{disabled:!showRightPageControls()}"
              title="Last Page"><i class="fa fa-angle-double-right" aria-label="Last Page"></i></button>
      </span>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-todo-list [isLoading]="isLoading" [todos]="todoSlice" [showComplete]="showComplete"></app-todo-list>
  </div>
</div>
